<russian_passport>
  <id><%= @russian_passport.id %></id>

  <%= render_cell :identity_card, :show, @russian_passport.identity_card %>

  <first_name><%= @russian_passport.first_name %></first_name>
  <last_name><%= @russian_passport.last_name %></last_name>
  <middle_name><%= @russian_passport.middle_name %></middle_name>
  <sex>
    <code><%= @russian_passport.sex_id %></code>
    <title></title>
  </sex>
  <birth_place><%= @russian_passport.birth_place %></birth_place>
  <% if @russian_passport.birth_date.nil? -%>
  <birth_date />
  <% else %>
  <birth_date><%= l @russian_passport.birth_date, :format => :xml %></birth_date>
  <% end %>
  <%= @russian_passport.addreses.each do |addr| -%>
  <address>
    <type>
      <code><%= addr.type_id %></code>
    </type>
    <uri><%= addr.uri %></uri>
    <create_date><%= l addr.create_date, :format => :xml %></create_date>
    <update_date><%= l addr.update_date, :format => :xml %></update_date>
    <region>
      <code><%= addr.region_id %></code>
    </region>
    <district>
      <code><%= addr.district_id %></code>
    </district>
    <city>
      <code><%= addr.city_id %></code>
    </city>
    <street>
      <code><%= addr.street_id %></code>
    </street>
    <house><%= addr.house %></house>
    <building><%= addr.building %></building>
    <flat><%= addr.flat %></flat>
  </address>
  <% end -%>

</russian_passport>
