<russian_passport>
  <id><%= @russian_passport.id %></id>

  <%= render_cell :identity_card, :show, @russian_passport.identity_card %>

  <first_name><%= @russian_passport.first_name %></first_name>
  <last_name><%= @russian_passport.last_name %></last_name>
  <middle_name><%= @russian_passport.middle_name %></middle_name>
  <sex>
    <code><%= @russian_passport.sex_id %></code>
    <title></title>
  </sex>
  <birth_place><%= @russian_passport.birth_place %></birth_place>
  <% if @russian_passport.birth_date.nil? -%>
  <birth_date />
  <% else %>
  <birth_date><%= l @russian_passport.birth_date, :format => :xml %></birth_date>
  <% end %>
  <addresses>
  <% @russian_passport.addresses.each do |addr| -%>
    <%= render_cell :address, :show, addr %>
  <% end -%>
  </addresses>
</russian_passport>
